* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
}
.container {
    width: 800px;
    height: 600px;
    border: 1px solid;
}
/* .item {
    display: inline-block;
    vertical-align: top;
    background-color: mediumseagreen;
    padding: 10px;
    margin: 10px;
    width: 200px;
} */
.item {
    float: left;
    background-color: mediumseagreen;
    padding: 10px;
    margin: 10px;
    width: 200px;
}