:root {
    --primary-color:#000;
    --secondary-color:#fff;
    --pink-color:#EC7979;
    --social-color:#F8EFEF;
    --input-color:#8d8d8d;
    --bgray-color:#333;
    --black-bacground-color:#000;
    --pricing-background:#f5f5f5;
    --table-background:#333333;
    --table-color:#86878B;
    --active-background:#AB4949;
    --tabs-border-color:#C6CBCD;
}   
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ol,ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--secondary-color);
}
body {
    font-size: 18px;
    font-family: 'Open Sans', 'Raleway', Arial, sans-serif;
}
.button {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
    color:var(--secondary-color);
    text-decoration: none;
    background: transparent;
}
.button--white {
    border: 2px solid #fff;
    background: transparent;
}
.button--pink {
    border: 1px solid var(--pink-color);
}
.button--pink:hover,
.button--pink:focus {
    background-color: var(--active-background);
    border: 1px solid var(--active-background);
    transition: all .2s ease-in;
}
.button--white:hover,
.button--white:focus {
    border: 2px solid var(--pink-color);
    color: var(--pink-color);
    transition: all .2s ease-in;
}
.button--white:active {
    border: 2px solid var(--active-background);
    background: var(--active-background);
    color: var(--secondary-color);
}
.wrapper {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper--flex {
    display: flex;
    flex-flow: row wrap;
    box-sizing: content-box;
}
.wrapper-100 {
    width: 100%;
}
.section-title {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: 'Raleway', 'Arial', serif;
    margin-bottom: 45px;
    position: relative;
    text-align: center;
}
.title-line {
    margin: 0 auto;
    width: 170px;
    height: 2px;
    background-color: var(--pink-color);
    margin-bottom: 40px;
}
.section-text {
    color: var(--input-color);
    text-align: center;
    margin-bottom: 70px;
}
.nav-list {
    width: 100%;
    min-height: 75px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--black-bacground-color);
    padding: 0 110px;
}
.nav__item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-transform: capitalize;
    min-height: 75px;
}
.nav__item:not(:first-child):hover,
.nav__item:not(:first-child):focus {
    background: var(--pink-color);
    transition: all .2s ease;
} 
.nav__item--active {
    background-color: var(--active-background);
}
.nav__item:first-child {
    margin-right: auto;
}
.nav__link {
    padding: 0 25px;
}  
.download-form {
    position: relative;
    width: 100%;
    background: url(../img/header-background.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 60px 170px;
    min-height: 1026px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.download-form::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
}
.download {
    position: relative;
    z-index:11;
    color: var(--secondary-color);
    margin-right: 30px;
}
.download-subtitle {
    font-size: 48px;
    font-family: "Raleway", "Arial", serif;
    font-weight: 500;
    width: 670px;
    padding-bottom: 55px;
    margin-bottom: 100px;
    position: relative;
}
.download-subtitle::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: 0;
}
.download-text {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 400;
    width: 270px;
    margin-bottom: 40px;
}
.button-download {
    width: 270px;
    min-height: 60px;
    margin-bottom: 60px;
}
.form {
    z-index: 20;
    display: flex;
    flex-flow: column wrap;
    width: 470px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
}
.form fieldset {
    padding: 30px 50px;
}
.form fieldset {
    border:none;
    flex-grow:1;
}
.form-title {
    font-size: 24px;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: var(--bgray-color);
    margin-bottom: 50px;
}
.form-title b {
    color: var(--pink-color);
}
.form-input {
    color: var(--input-color);
    width: 100%;
    border: none;
    border-bottom: 1px solid ;
    padding-bottom: 20px;
    margin-bottom: 33px;
    padding: 10px 5px;
}
.form-button {
    width: 100%;
    background-color: var(--pink-color);
    flex-grow: 10;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.social {
    background: var(--social-color);
    min-height: 140px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 100px;
}
.social-wrapper {
    align-items: center;
}
.social-content {
    width: 450px;
    margin-right: 50px;
}
.social-title {
    margin-bottom: 30px;
    font-family: 'Open Sans','Arial',serif;
    font-weight: 700;
    text-transform: capitalize;
}
.social-text {
    color: var(--input-color);
    font-family: 'Raleway', 'Arial', serif;
    font-weight: 400;
}
.social-list {
    display: flex;
    flex-flow: row wrap;
}
.social__item:not(:last-child) {
    margin-right: 30px;
}

.tabs {
    margin-bottom: 100px;
}
.tabs__item {
    display: flex;
    flex-flow: row wrap;
}
.tabs-button {
    border: none;
    border-bottom: 1px solid var(--tabs-border-color);
    /* grid-area: tabs-button; */
    color: var(--bgray-color);
    text-transform: uppercase;
}
.tabs-button--active {
    border: 1px solid var(--tabs-border-color);
    border-radius: 5px;
    border-bottom: none;
}
.tabs-title {
    grid-area: tabs-title;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tabs-text {
    font-family: 'Raleway', 'Arial', sans-serif;
    grid-area: tabs-text;
    margin-bottom: 30px;
    margin-right: 30px;
}
.tabs-download-button {
    grid-area: tabs-download-button;
    background-color: var(--pink-color);
    width: 270px;
}
.tabs-content {
    /* padding: 0 30px 0 100px; */
    /* border: 1px solid var(--tabs-border-color); */
    width: 570px;
    display: grid;
    grid-template-rows: 40px auto auto 60px;
    grid-template-areas: 
        "tabs-button tabs-button tabs-button"
        "tabs-title tabs-title tabs-title"
        "tabs-text tabs-text tabs-text"
        "tabs-download-button tabs-download-button tabs-download-button";
}
.about-list {
    display: flex;
    flex-flow: row wrap;
}
.about__item {
    width: 33.3%;
    max-width: 370px;
    margin-bottom: 60px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.about__item:not(:nth-child(3n)) {

}
.about-img-wrapper {
    width: 92px;
    height: 92px;
    border: 1px solid var(--pink-color);
    border-radius: 50%;
    margin-bottom: 50px;
}
.about-img--lamp {
    background:url(../img/about-1.svg) center no-repeat;
}
.about-img--keyboard {
    background: url(../img/about-2.svg) center no-repeat;
}
.about-img--lightning {
    background: url(../img/about-3.svg) center no-repeat;
}
.about-item-title {
    margin-bottom: 50px;
}
.about-item-text {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 400;
}
.pricing {
    background-color: var(--pricing-background);
    padding:100px 0;
}
.pricing-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 50px;
}
.pricing__item {
    max-width: 370px;
    width: 33.3%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
}
.pricing__item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.pricing__item:hover, 
.pricing__item:focus { 
    -webkit-box-shadow: 0px 4px 10px 0px rgba(51, 51, 51, 0.2);
    -moz-box-shadow: 0px 4px 10px 0px rgba(51, 51, 51, 0.2);
    box-shadow: 0px 4px 10px 0px rgba(51, 51, 51, 0.2);
    transition: all ease-in .2s;
    margin-bottom: 30px;
    transition: margin-bottom .2s;
}
.table-black {
    background: var(--bgray-color);
    color: var(--secondary-color);
    padding: 10px 30px;
}
.table-text {
    color: var(--table-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    font-family: 'Raleway', 'Arial',serif;
    font-weight: 400;
    text-transform: capitalize;
}
.table-subtitle {
    color: rgba(255, 255, 255, 0.5);
} 
.footer {
    min-height: 160px;
    background-color: var(--black-bacground-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.footer-social-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.footer-social__item:not(:last-child) {
    margin-right: 30px;
}
.footer-copyright {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 400;
    text-align: center;
}
@media screen and (max-width:1509px) {
    .download {
        order: 1;
    }
    .form {
        display: none;
    }
}
@media screen and (max-width:970px) {
    .nav-list {
        padding: 0 15px;
    }
}