:root {
    --primary-color:#000;
    --secondary-color:#fff;

    --black-bacground-color:#000;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ol,ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--secondary-color);
}
body {
    font-size: 18px;
    font-family: 'Open Sans', 'Raleway', Arial, sans-serif;
}
.wrapper {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper-100 {
    width: 100%;
}
.nav-list {
    width: 100%;
    min-height: 75px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--black-bacground-color);
    padding: 0 120px;
}
.nav__item {
    text-transform: capitalize;
}
.nav__item:first-child {
    margin-right: auto;
}
.nav__link {
    display: inline-block;
    padding: 0 25px;
}  